.card {
  max-width: 413px;
}

.card__image {
  height: 413px;
  width: 413px;
  border-radius: 8px;
  object-fit: cover;
  display: block;
}

.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}

.card__title {
  margin: 0;
  font-size: 1.25em;
  font-weight: 500;
  line-height: 1.2;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like-btn {
  width: 23px;
  height: 20px;
  background: url(../images/like_icon.svg) no-repeat center;
  opacity: 0.4;
  border: none;
}

.card__like-btn:hover {
  opacity: 1;
  cursor: pointer;
}

.card__like-btn_active {
  background-image: url(../images/like_active.svg);
  opacity: 1;
}

.card__like-btn_active:hover {
  opacity: 0.4;
  cursor: pointer;
}

@media screen and (max-width: 630px) {
  .card {
    max-width: 288px;
  }

  .card__image {
    width: 288px;
    height: 288px;
  }
  .card__title {
    font-size: 1em;
  }
}
