.modal {
  visibility: hidden;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_is-opened {
  visibility: visible;
}

.modal__container {
  max-width: 703px;
  width: 50vw;
  background-color: #fff;
  padding: 32px 50px;
  border-radius: 8px;
  position: fixed;
}

.modal__close-btn {
  position: absolute;
  padding: 0;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  background: url(../images/x_icon.svg) center no-repeat;
  border: none;
}

.modal__title {
  margin: 0 0 32px;
  font-size: 32px;
  line-height: 1;
}

.modal__form-fieldset {
  margin: 0;
  padding: 0;
  border: none;
  display: flex;
  flex-direction: column;
}

.modal__label {
  line-height: 110.00000000000001%;
  color: rgba(33, 33, 33, 0.7);
}

.modal__input {
  box-sizing: border-box;
  width: 100%;
  margin: 8px 0 32px;
  border: 1px solid rgba(33, 33, 33, 0.4);
  border-radius: 8px;
  padding: 16px 0 16px 12px;
}

.modal__input::placeholder {
  color: #2121214d;
  line-height: 1;
  font-size: 20px;
}

.modal__submit-btn {
  border: none;
  border-radius: 8px;
  color: #fcf5e5;
  background-color: #212121;
  padding: 18px 58px;
  line-height: 1;
}

@media screen and (max-width: 630px) {
  .modal__container {
    width: 70vw;
  }
  .modal__title {
    font-size: 20px;
  }

  .modal__input::placeholder {
    font-size: 16px;
  }

  .modal__submit-btn {
    max-width: none;
    width: 100%;
  }
}
