.page {
  font-family: "Poppins Medium", Arial, Helvetica, sans-serif;
  color: #212121;
  box-sizing: border-box;
  background-color: #fcf5e5;
}

.page__section {
  max-width: 1280px;
  margin: 0 auto;
}
